@model HomeDetailsViewModel

@{
    
    ViewBag.Title= "Employee Details";
}

<div>Name : @Model.Employee.Name</div>
<div>Email : @Model.Employee.Email</div>
<div>department :@Model.Employee.Department</div>

<a asp-controller="home" asp-action="index" class="btn btn-primary">back</a>
@section Scripts{ 

<script src="~/js/CustomScript.js"></script>
} 